
body {
    background:#f1f1f1;
}

#whatsapp-chat {
    position:fixed;
    background:#fff;
    width:300px;
    border-radius:10px;
    box-shadow:0 1px 15px rgba(32,33,36,.28);
    bottom:90px;
    right:30px;
    overflow:hidden;
    z-index:99;
    animation-name:showchat;
    animation-duration:1s;
    transform:scale(1);
}

a.blantershow-chat {
    color:white !important;
    background: #212529;
    position:fixed;
    z-index:98;
    bottom:25px;
    right:30px;
    font-size:15px;
    padding:10px 20px;
    border: 2px solid white;
    border-radius:30px;
    box-shadow:0 1px 15px rgba(32,33,36,.28);
    cursor: pointer;
    animation: shakeChat 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

a.blantershow-chat i {
    transform:scale(1.2);
    margin:0 10px 0 0;   
}

.header-chat {
    background-color:#212529;
    color:#fff;
    padding:10px;   
}

.header-chat h3 {
    margin:0 0 10px;
}

.header-chat p {
    font-size:14px;
    line-height:1.7;
    margin:0;
}

.info-avatar {
    position:relative;
}

.info-avatar img {
    border-radius:100%;
    width:50px;
    float:left;
    margin:0 10px 0 0;
}

a.informasi {
    padding:20px;
    display:block;
    overflow:hidden;
    animation-name:showhide;
    animation-duration:2s;
    cursor: pointer;
}

a.informasi:hover {
    background:#DCDCDC;
}

.info-chat span {
    display:block;
}

#get-label,span.chat-label {
    font-size:12px;color:#888;
}

#get-nama,span.chat-nama {
    margin:5px 0 0;
    font-size:15px;
    font-weight:700;
    color:#222;
}

#get-label,#get-nama {
    color:#fff;
}

.blanter-msg {
    color:#444;
    padding:20px;
    font-size:12.5px;
    text-align:center;
    border-top:1px solid #ddd;
}

textarea#chat-input {
    border:none;
    width:100%;
    height:20px;
    outline:none;
    resize:none; 
    overflow: hidden;
    
}
a#send-it {
    color:#555;
    width:40px;
    margin:-5px 0 0 5px;
    font-weight:700;
    padding:8px 8px 8px 8px;
    background:#eee;
    border-radius:10px;
    cursor: pointer;
}

.first-msg {
    background:#f5f5f5;
    padding:5px;
    text-align:center;
}

.first-msg span{ 
    background:#e2e2e2;
    color:#333;
    font-size:14.2px;
    line-height:1.7;
    border-radius:10px;
    padding:15px 20px;
    display:block;
}

.start-chat .blanter-msg .home-chat{
    display:flex;
}

a.close-chat {
    position:absolute;
    top:0px;
    right:15px;
    color:white !important;
    font-size:30px;
    cursor: pointer;
}

.container1 {
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    word-wrap: break-word;
    box-shadow:0 5px 5px rgba(32,33,36,.28);
    background-color: #FFFAFA;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container1::after {
    content: "";
    clear: both;
    display: table;
}

.container1 img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;   
} 

.container1 img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
    font-size: xx-small;
}

.time-left {
    float: left;
    color: #999;
    font-size: xx-small;
}

#msgframe {
    padding:10px;
    overflow-y: scroll; 
    height:300px;
    background-color:#F5F5F5;
}

#partnerframe {
    padding:10px;
    overflow-y: scroll; 
    height:300px;
}

#msgframe::-webkit-scrollbar-track
{
	background-color: white;
}

#msgframe::-webkit-scrollbar
{
	width: 6px;
	background-color: white;
}

#msgframe::-webkit-scrollbar-thumb
{
	background-color: #DCDCDC;
}

#partnerframe::-webkit-scrollbar-track
{
	background-color: white;
}

#partnerframe::-webkit-scrollbar
{
	width: 6px;
	background-color: white;
}

#partnerframe::-webkit-scrollbar-thumb
{
	background-color: #DCDCDC;
}

.msg {
    display: block;
}
@keyframes showhide{
    from{
        transform:scale(.5);
        opacity:0;
    }
}
@keyframes showchat{
    from{
        transform:scale(0);
        opacity:0;
    }
}
@keyframes shakeChat {
    80% { transform: translate(1px, 1px) rotate(0deg); }
    82% { transform: translate(-1px, -2px) rotate(-1deg); }
    84% { transform: translate(-3px, 0px) rotate(1deg); }
    86% { transform: translate(3px, 2px) rotate(0deg); }
    88% { transform: translate(1px, -1px) rotate(1deg); }
    90% { transform: translate(-1px, 2px) rotate(-1deg); }
    92% { transform: translate(-3px, 1px) rotate(0deg); }
    94% { transform: translate(3px, 1px) rotate(-1deg); }
    96% { transform: translate(-1px, -1px) rotate(1deg); }
    98% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media screen and (max-width:480px){
    #whatsapp-chat{width:auto;
                   left:5%;
                   right:5%;
                   font-size:80%;
    }
}

.hideCh{
    display:none;
    animation-name:showhide;
    animation-duration:1.5s;
    transform:scale(1);
    opacity:1;
}
.showCh{
    display:block;
    animation-name:showhide;
    animation-duration:1.5s;
    transform:scale(1);
    opacity:1;
}

