.fc-event-main:hover,
.fc-daygrid-event:hover
{
    cursor: pointer;
}

body {
    display: grid;
    min-height: 100vh;
    height: 100%;
    grid-template-rows: auto 1fr auto;
}

#calendar-container {
    display: none;
}
.modal-content{
    background-color: #24273a;
    color:white;
}

#submitDateToServer{
    background-color: green;
    color:white;
    border-color: green;
}
#buttonOk{
    color:white;
}
.modal-footer{
    border-top:none;
}
#xButton{
    color:white;
}